noDrag()
 pointer-events: none

.title
 white-space: nowrap
 text-align: left!important
 font-size: 0.9em!important
 font-weight: 1!important
 noDrag()

.row 
  background-image: url(/assets/images/division.jpg)
  height: 51.5px

.progress
 position:          relative
 cursor:            pointer

resizer()
  position: absolute
  height:   100%
  width:    1em
  cursor:   col-resize
  top: 0

.resizerEnd
  resizer()
  right: 0

.resizerStart
  resizer()
  left: 0

.badge
  position: absolute !important
  right: -0.5em !important
  top: -0.5em !important
  z-index: 1
  noDrag()

.bar
  noDrag()
