.description
  text-align: center
  font-size: 1.2em !important
  margin-bottom: 1.3em !important

.firstDialogHeader
  font-size: 1.8em !important

.firstDialogHeaderLogo
  font-size: 2.1em !important

.dummyInput
  visibility: hidden
  width: 0px
