body
  height: 100%

#sharpen
  height: 100%

.ui.card>div>a>img
  border-top-left-radius: 0.28571429rem;
  border-top-right-radius: 0.28571429rem;
  max-width: 100%

.ui.card>div>img
  position: absolute !important
