body
  height: 100%

#sharpen
  height: 97%
  overflow: hidden

.ui.card>div>a>img
  border-top-left-radius: 0.28571429rem;
  border-top-right-radius: 0.28571429rem;
  max-width: 100%

.ui.card>div>img
  position: absolute !important

.ui.sidebar.vertical.menu .item>i.icon
  float: left !important
  margin 0 .5em 0 0 !important

.cardMainContent::-webkit-scrollbar
  width: 0px;
