.today
  margin: 0em 0px 0px !important
  padding-top: 0.5em !important
  background: #fbbd0894
  border-radius: 0.1em

.statistic
  margin: 0.5em 0px 0px !important

.label
  font-size: 0.7em !important

.value
  font-size: 1.2em !important
  font-weight: 400
  line-height: 1em
  color: #1b1c1d
  text-transform: uppercase
  text-align: center

.dates
  position:     sticky
  position:     -webkit-sticky
  top:          0px
  z-index:      9
  background:   url(/assets/images/division.jpg)
  border-bottom: dotted 1px #e9ecef
  margin-bottom: 5px
