.iconClick
  cursor: pointer

.avatarIcon
  font-size: 2em!important

.comment
  padding: 0.5em!important

.header
  border-top-left-radius: .28571429rem
  border-top-right-radius: .28571429rem

.todoCheckbox
  width: 90% !important
