.iconClick
  cursor: pointer

.avatarIcon
  font-size: 2em!important

.comment
  padding: 0.5em!important

.header
  border-top-left-radius: .28571429rem
  border-top-right-radius: .28571429rem
  width: 98%

.todoCheckbox
  width: 90% !important

.adMeta
  padding: 0.15em 1em !important
  margin-top: -0.3em
  text-align: center

.adCard
  margin: auto !important
  display: inline-block !important
  width: initial !important

.close
  position: absolute
  top: 0.85rem
  right: 0.5rem
  cursor: pointer

.adFrame
  padding-bottom: 1rem
  text-align: center

.actions
  padding: 1rem 1rem 0!important

.deleteButton
  margin-left: 0em !important
