.container
  height: 100%

.card
  height: 90%
  width: 100% !important

.cardHeader
  padding: 0px 1em 0px 0px !important
  top: 0px
  left: 0px
  z-index: 10
  flex-grow: 0!important

.cardMainContent
  margin-top: 0px!important
  height: 100%

.headerLogo
  position: relative !important
  margin: auto !important

