.progressBarStyle
  height: 100%

.title
  padding:  3px
  position: absolute
  color:    #FFFFFF

.row 
  background-image: url(/assets/division.jpg)
  height:           45px
  padding-top:      5px
  opacity:          0.85

.progress
 height:            40px
 position:          relative
 background-color:  #0c0c0c8c
 cursor:            pointer

resizer()
  position: absolute
  height:   100%
  width:    30px
  cursor:   col-resize

.resizerRight
  resizer()
  right: 0

.resizerLeft
  resizer()
  left: 0


