.title
 white-space: nowrap
 text-align: left!important
 font-size: 0.9em!important
 font-weight: 1!important

.row 
  background-image: url(/assets/images/division.jpg)

.progress
 position:          relative
 cursor:            pointer

resizer()
  position: absolute
  height:   100%
  width:    30px
  cursor:   col-resize
  top: 0

.resizerEnd
  resizer()
  right: 0

.resizerStart
  resizer()
  left: 0


